.about {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.about-us{
    display: flex;
    min-height: 750px;
    overflow: hidden;
}
.about-us__image{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: var(--color-white);

    position: relative;
}

.about-us__image div{
    padding: 52px 95px;
    flex: 1;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.about-us__image-gtr{
    border-bottom: 8px solid var(--color-creamson);

    background-image: url("../../assets/about_bg1.png");
}

.about-us__image-gtr img {
    width: 300px;
    height: 220px;
}
.about-us__image-supra img {
    width: 250px;
    height: 200px;
}
.about-us__content div{
    padding: 52px 160px;
    flex: 1;
    display: flex;

    align-items: center;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.about-us__image-evo{
    border-bottom: 8px solid var(--color-creamson);

}

.about-us__image-s2000{
    background-image: url("../../assets/about_bg2.png");
}
.about-us__image-evo img {
    width: 300px;
    height: 250px;
}
.about-us__image-s2000 img {
    width: 250px;
    height: 250px;
}

.about-us__content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--color-white);

}
.about-us__intro{
    position: absolute;
    top: 32%;
    left: 40%;
    z-index: 1;
    width: 250px;
    height: 250px;
    background-color: var(--color-creamson);
    border-radius: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-us__intro p{
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
}
.about-us__intro h3{
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 800;
    font-family: var(--plus-jakarta-sans);
}
